<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#fff" />
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>AMS Resto</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header>
    <button class="nav-menu-btn" aria-label="Menu Button"></button>
    <nav>
      <a href="/" class="logo">AMS Resto</a>
      <div class="navigation">
        <div class="nav-menu">
          <button class="nav-close-btn" aria-labelledby="close button" id="closeBtn" name="closeBtn"></button>
          <a href="/">Home</a>
          <a href="#/like">Favorite</a>
          <a href="https://github.com/alpinsil" target="_blank">About Us</a>
        </div>
      </div>
    </nav>
  </header>

  <main id="maincontent" tabindex="0">

  </main>
  <!-- footer -->
  <footer>
    <p>Copyright © 2023 - AMS Resto</p>
  </footer>
</body>

</html>